.nodes circle {
    cursor: pointer;
    stroke: rgba(0,0,0,.4);
}

.nodes circle.tweet {
    fill: #FF9133;
}

.nodes circle.hashtag {
    fill: #87E2F5;
}

.links line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

html, body {
    height: 100%;
    margin: 0;
}

#container, svg {
    width: 100%;
    height: 100%;
}

.nodes circle.selected {
    stroke-width: 5px;
}
